
@media screen and (max-width: 600px) {
  table {
   border: 0;
 }
table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } 
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 7px;

  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 9px;
    text-align: right;
    text-align: center;
  }
  table td::before {
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
   border-bottom: 0;
  }
}